{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>A propos</h1>

        <main>
            <p>Bien Être est une plateforme qui vous permet de trouver des prestataires selon vos envies et de trouver des stages mis en place par ses derniers.</p>
        </main>
    </div>
{% endblock %}
