{% extends 'base.html.twig' %}
{% block body %}
    <div class="success">
        <h1>Enregistration réussie</h1>
        <a href="{{ path('app_accueil') }}">Retour à l'accueil</a>
    </div>
{% endblock %}