$primary-color: #ffffff;
$secondary-color: #FFAEBC;
$footer-bg: #B6E5D8;
$hover : #527d84;
$black: #1a1a1a;
$btn: #431F10;
$btn-submit: #8FDDE7;
$border: #A0E7E5;
$trans-white:  rgba(255, 255, 255, 0.2);
//media queries
$small: 600px;
$medium: 800px;
$large: 1000px;