$primary-color: #F4EDE5;
$secondary-color: #6200ee;
$black: #1a1a1a;
$btn: #431F10;
$btn-submit: #3986CE;
$border: #8d8d8d;
$trans-white:  rgba(255, 255, 255, 0.2);
//media queries
$small: 600px;
$medium: 800px;
$large: 1000px;