nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  background: rgb(244, 237, 229);
  background: linear-gradient(180deg, rgb(244, 237, 229) 45%, rgba(255, 255, 255, 0) 95%);
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 5rem;
}
nav h1 {
  margin-top: -1rem;
}
nav .logo {
  font-size: 150%;
}
nav a {
  color: white;
}
nav .nav-links {
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  top: 3.5rem;
}
nav .nav-links .nav-a {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s;
}
nav .nav-links .nav-a a:hover {
  color: #95a5a6;
}
nav .nav-links .nav-a a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
nav .nav-links .nav-a a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
nav .nav-links .log {
  font-size: 0.9rem;
  font-weight: 300;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1a1a1a;
}

.hamburger {
  display: block;
  margin-right: 2rem;
  margin-top: -2.3rem;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-links {
  position: fixed;
  left: -110%;
  flex-direction: column;
  background-color: #1a1a1a;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-links.active {
  left: 0;
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
  nav {
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  nav h1 {
    font-size: 0.9rem;
  }
  nav .nav-links {
    font-size: 0.8rem;
    width: auto;
    white-space: nowrap;
    display: flex;
    left: auto;
    right: 0%;
    flex-direction: row;
    background-color: transparent;
    top: auto;
    margin-top: -2.2rem;
  }
  nav .nav-links .links {
    margin-left: auto;
  }
  nav .nav-links a {
    color: #1a1a1a;
    font-size: 1.5vw;
  }
  nav .nav-links .nav-a {
    flex-direction: row;
    align-items: center;
  }
  nav .log {
    display: flex;
    gap: 0.4rem;
    font-size: 0.7rem;
  }
  nav .log #login {
    padding: 0.4rem;
    background-color: white;
    color: #1a1a1a;
    border-radius: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  nav .log #signin {
    padding: 0.4rem;
    background-color: #431F10;
    color: white;
    border-radius: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  nav .log a {
    font-size: 1.5vw;
  }
}
.search-form {
  display: flex;
  justify-content: center;
}
.search-form .searchbar {
  width: 50vw;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1rem;
  border: none;
}
.search-form .search-submit {
  border: none;
  background-color: #3986CE;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
  font-weight: 300;
}

.h-inscription {
  position: relative;
  text-align: center;
}

.registration-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration-form form div {
  width: 90vw;
  display: flex;
  flex-direction: column;
}
.registration-form form label {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.registration-form form input {
  height: 1.5rem;
  border: solid 1px #8d8d8d;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.registration-form form .input-line div {
  flex-direction: row;
  align-items: center;
}
.registration-form form .input-line .required {
  margin-top: 0;
  font-size: 0.7rem;
}
.registration-form form .rue {
  display: flex;
  flex-direction: row;
}
.registration-form form .rue div:nth-child(2) {
  width: 25vw;
  margin-left: 1rem;
}
.registration-form form #registration_form_commune, .registration-form form #registration_form_code_postal, .registration-form form #registration_form_localite {
  height: 3rem;
  background-color: white;
  border: solid 1px #8d8d8d;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.registration-form form .localite-cp {
  display: flex;
  flex-direction: row;
}
.registration-form form .localite-cp div:nth-child(1) {
  width: 25vw;
  margin-right: 1rem;
}
.registration-form .btn-submit {
  width: 90vw;
  padding: 1rem;
  font-size: 1rem;
  border: solid 2px #6200ee;
  border-radius: 1rem;
}
.registration-form .btn-submit:hover {
  cursor: pointer;
}

.success {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-slide img {
  margin-top: 21rem;
  position: absolute;
  width: 100vw;
  max-height: 288px;
  object-position: center;
  object-fit: cover;
  opacity: 0;
  transition: 0.8s;
}
.container-slide .show {
  opacity: 1;
}

.bg {
  padding-top: 5rem;
  background: rgb(68, 90, 72);
  background: linear-gradient(16deg, rgb(68, 90, 72) 6%, rgb(205, 128, 84) 50%, rgb(220, 178, 130) 95%);
}

.last-signed {
  margin-top: 19rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prestataire-container_accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prestataire-container_accueil #prestataire_img_accueil {
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.prestataire-container_accueil h3 {
  font-weight: 300;
}
.prestataire-container_accueil a {
  color: #1a1a1a;
}

.main-prestataire {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-prestataire h1 {
  opacity: 0.9;
  font-weight: 400;
}

.liste-prestataire .prestataire-container {
  display: flex;
  margin-top: 2rem;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  width: 85vw;
  border-radius: 1rem;
}
.liste-prestataire .prestataire-container img {
  height: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.liste-prestataire .prestataire-container h2 {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}
.liste-prestataire .prestataire-container .dates {
  display: flex;
  flex-direction: column;
  gap: -2rem;
}
.liste-prestataire .prestataire-container .dates p {
  font-weight: 200;
  color: white;
  margin: 0;
}
.liste-prestataire .prestataire-container #prestataire_img {
  width: 30vw;
}
.liste-prestataire .prestataire-container .side-prestataire-container {
  display: grid;
  gap: 0;
}

#profil_img {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
}

.main-profil {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4EDE5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=app.css.map */
