nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  position: relative;
  width: 100vw;
  height: 5rem;
}
nav h1 {
  margin-top: -1rem;
}
nav #logo {
  color: black;
}
nav .logo {
  font-size: 150%;
  color: #1a1a1a;
}
nav a {
  color: white;
}
nav #email {
  color: #ffffff;
}
nav .nav-links {
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  top: 3.5rem;
}
nav .nav-links .nav-a {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s;
  /*
  categ display
   */
}
nav .nav-links .nav-a .nav-categ .btn-categ {
  background: transparent;
  border: none;
}
nav .nav-links .nav-a .nav-categ .btn-categ .flip {
  transform: rotate(180deg);
}
nav .nav-links .nav-a .nav-categ .btn-categ img {
  width: 2rem;
}
nav .nav-links .nav-a .nav-categ .display-categ {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: capitalize;
  padding: 0.5rem;
}
nav .nav-links .nav-a a {
  font-size: 2rem;
  /*&:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }

   */
}
nav .nav-links .nav-a a:hover {
  color: #8FDDE7;
}
nav .nav-links .log {
  font-size: 0.9rem;
  font-weight: 300;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1a1a1a;
}

.hamburger {
  display: block;
  margin-right: 2rem;
  margin-top: -2.3rem;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-links {
  position: absolute;
  right: 3%;
  left: -110%;
  flex-direction: column;
  background-color: #1a1a1a;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-links.active {
  left: 0;
}

#arrow {
  fill: white;
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
  nav {
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  nav h1 {
    font-size: 0.9rem;
  }
  nav .nav-links {
    font-size: 0.8rem;
    width: auto;
    white-space: nowrap;
    display: flex;
    left: auto;
    right: 3%;
    flex-direction: row;
    background-color: transparent;
    top: auto;
    margin-top: -2.2rem;
  }
  nav .nav-links .links {
    margin-left: auto;
  }
  nav .nav-links a {
    color: #1a1a1a;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
  }
  nav .nav-links .nav-a {
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
  }
  nav .nav-links .nav-a a {
    font-size: 1rem;
  }
  nav .nav-links #email {
    color: black;
  }
  nav .nav-links .nav-a .nav-categ .btn-categ {
    display: none;
  }
  nav .nav-links .nav-a .nav-categ .display-categ {
    position: absolute;
    background-color: white;
  }
  nav .log {
    display: flex;
    gap: 0.4rem;
    font-size: 0.7rem;
  }
  nav .log #login {
    padding: 0.4rem;
    background-color: white;
    color: #1a1a1a;
    border-radius: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  nav .log #signin {
    padding: 0.4rem;
    background-color: #431F10;
    color: white;
    border-radius: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  nav .log a {
    font-size: 0.8vw;
  }
}
.header_form form {
  display: grid;
  justify-content: center;
  position: relative;
  gap: 0.3rem;
}
.header_form form div:nth-child(1) {
  grid-area: 1/1/2/3;
}
.header_form form div:nth-child(2) {
  grid-area: 2/1/3/2;
}
.header_form form div:nth-child(3) {
  grid-area: 2/2/2/3;
}
.header_form form div:nth-child(4) {
  grid-area: 3/1/3/3;
}
.header_form form div:nth-child(5) {
  grid-area: 2/3/3/4;
}
.header_form form .btn-submit {
  grid-area: 1/3/2/4;
}
.header_form form label {
  display: none;
}
.header_form form #search_prestataire {
  width: 85%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: solid 1px #959595;
}
.header_form form .btn-submit {
  border: none;
  background-color: #8FDDE7;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}
.header_form form .btn-submit:hover {
  cursor: pointer;
}
.header_form select {
  background-color: white;
  border: solid 1px #959595;
  border-radius: 1rem;
  padding: 0.45rem;
}

.h-inscription {
  position: relative;
  text-align: center;
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.registration-form form {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration-form form div {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.registration-form form label {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.registration-form form input {
  height: 1.5rem;
  border: solid 1px #A0E7E5;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.registration-form form .input-line div {
  flex-direction: row;
  align-items: center;
}
.registration-form form .input-line .required {
  margin-top: 0;
  font-size: 0.7rem;
}
.registration-form form .rue {
  display: flex;
  flex-direction: row;
}
.registration-form form .rue div:nth-child(2) {
  width: 25vw;
  margin-left: 1rem;
}
.registration-form form #registration_form_commune, .registration-form form #registration_form_code_postal, .registration-form form #registration_form_localite {
  height: 3rem;
  background-color: white;
  border: solid 1px #A0E7E5;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.registration-form form .localite-cp {
  display: flex;
  flex-direction: row;
}
.registration-form form .localite-cp div:nth-child(1) {
  width: 33vw;
  margin-right: 1rem;
}
.registration-form .btn-submit {
  width: 23rem;
  padding: 1rem;
  font-size: 1rem;
  border: solid 2px #FFAEBC;
  border-radius: 1rem;
  background-color: #ffffff;
}
.registration-form .btn-submit:hover {
  cursor: pointer;
}

.success {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-slide img {
  margin-top: 21rem;
  position: absolute;
  width: 100vw;
  max-height: 288px;
  object-position: center;
  object-fit: cover;
  opacity: 0;
  transition: 0.8s;
}
.container-slide .show {
  opacity: 1;
}

.last-signed {
  margin-top: 19rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-signed .last-signed-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.prestataire-container_accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prestataire-container_accueil #prestataire_img_accueil {
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.prestataire-container_accueil h3 {
  font-weight: 300;
}
.prestataire-container_accueil a {
  color: #1a1a1a;
}

.favoris {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favoris .favoris-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.favoris .favoris-container .prestataire-container_accueil_favoris {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favoris .favoris-container .prestataire-container_accueil_favoris #prestataire_img_accueil {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.favoris .favoris-container .prestataire-container_accueil_favoris h3 {
  font-weight: 300;
}
.favoris .favoris-container .prestataire-container_accueil_favoris a {
  color: #1a1a1a;
}

.categorie-mois-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorie-mois-container a {
  color: #1a1a1a;
}
.categorie-mois-container img {
  width: 90vw;
  max-width: 920px;
  object-position: center;
  object-fit: cover;
}

.main-prestataire {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-prestataire h1 {
  opacity: 0.9;
  font-weight: 400;
}

.liste-prestataire p {
  margin: 0;
  font-weight: 300;
}
.liste-prestataire .prestataire-container {
  display: flex;
  margin-top: 2rem;
  gap: 0.5rem;
  background-color: #ffffff;
  padding: 1rem;
  width: 85vw;
  border-radius: 1rem;
}
.liste-prestataire .prestataire-container span {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.liste-prestataire .prestataire-container span #nom-categ {
  font-size: 1.5rem;
  color: #1a1a1a;
}
.liste-prestataire .prestataire-container span a {
  color: #527d84;
}
.liste-prestataire .prestataire-container img {
  height: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.liste-prestataire .prestataire-container h2 {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}
.liste-prestataire .prestataire-container .dates {
  display: flex;
  flex-direction: column;
  gap: -2rem;
}
.liste-prestataire .prestataire-container .dates p {
  font-weight: 200;
  color: white;
  margin: 0;
}
.liste-prestataire .prestataire-container #prestataire_img {
  width: 30vw;
}
.liste-prestataire .prestataire-container .side-prestataire-container {
  display: grid;
  gap: 0;
  grid-template-rows: 1fr 3fr 1fr;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  position: relative;
}
.search-form .searchbar {
  width: 50vw;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1rem;
  border: none;
}
.search-form .search-submit {
  border: none;
  background-color: #8FDDE7;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
  font-weight: 300;
}

#prestataire_titre {
  color: #1a1a1a;
  font-weight: 300;
}

#profil_img {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
}

.main-profil {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
}
.main-profil h1 {
  margin-bottom: 0;
}
.main-profil form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-profil form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-profil button {
  padding: 0.4rem 0.8rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #8FDDE7;
}
.main-profil button:hover {
  cursor: pointer;
}

.form-edit-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-edit-user div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.form-edit-user div select {
  height: 3rem;
  background-color: white;
  border: solid 1px #A0E7E5;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.form-edit-user div #user_enregistrer {
  padding: 1rem;
  font-size: 1rem;
  border: solid 2px #FFAEBC;
  border-radius: 1rem;
  background-color: #ffffff;
}
.form-edit-user div #user_enregistrer:hover {
  cursor: pointer;
}
.form-edit-user form {
  width: 60vw;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-edit-user form div {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.form-edit-user form label {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.form-edit-user form input {
  height: 1.5rem;
  border: solid 1px #A0E7E5;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.solo_prestataire {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solo_prestataire .solo_prestataire_container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  max-width: 70rem;
  width: 80%;
}
.solo_prestataire .solo_prestataire_container .like {
  background-image: url("../../public/images/assets/like.png");
}
.solo_prestataire .solo_prestataire_container .dislike {
  background-image: url("../../public/images/assets/like-fill.png");
}
.solo_prestataire .solo_prestataire_container span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solo_prestataire .solo_prestataire_container button {
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}
.solo_prestataire .solo_prestataire_container button:hover {
  cursor: pointer;
}

#prestataire_img {
  height: 15rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

#side_prestataire h2 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
}

#likes p {
  margin: 1rem;
  font-size: 1.2rem;
}

.socials-share {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form_commentaire {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.form_commentaire span {
  width: 80vw;
  height: 1px;
  background-color: #FFAEBC;
  margin-bottom: 3rem;
}
.form_commentaire div {
  display: flex;
  flex-direction: column;
}
.form_commentaire #commentaire_Titre {
  width: 20rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  border: solid 1.5px gray;
}
.form_commentaire .btn-submit {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  background: none;
  border: solid 1.5px gray;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.form_commentaire .btn-submit:hover {
  cursor: pointer;
}

.commentaires {
  margin-top: 2rem;
  width: 80%;
}
.commentaires .solo_commentaire {
  border: solid 1px #3d3d3d;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
}
.commentaires .solo_commentaire p {
  margin-top: 0;
}
.commentaires span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commentaires #auteur {
  font-size: 0.8rem;
}

.stages div {
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-direction: column;
}
.categories h1 {
  align-self: center;
}
.categories a {
  font-size: 2rem;
  color: #1a1a1a;
}
.categories a:hover {
  color: #FFAEBC;
}

.categorie_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorie_form div {
  width: 40vw;
  display: flex;
  flex-direction: column;
}
.categorie_form div #categorie_nom {
  height: 1.5rem;
  border: solid 1px #A0E7E5;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.categorie_form .btn-submit {
  width: 40vw;
  padding: 1rem;
  font-size: 1rem;
  border: solid 2px #FFAEBC;
  border-radius: 1rem;
}
.categorie_form .btn-submit:hover {
  cursor: pointer;
}

.categorie_show {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorie_show ul {
  padding: 0;
}
.categorie_show a {
  color: #1a1a1a;
  font-size: 2rem;
}

#categorie_img {
  width: 100vw;
  max-height: 288px;
  object-position: center;
  object-fit: cover;
}

.admin-categ-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-categ-form form button {
  margin-top: 1rem;
  background-color: #8FDDE7;
  border: solid 1px #431F10;
  padding: 0.6rem;
  color: white;
}

footer {
  background-color: #B6E5D8;
  color: #1a1a1a;
  padding: 3rem;
}
footer #copyright {
  display: flex;
  justify-content: center;
}
footer .container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
footer .container div ul {
  padding: 0;
}
footer .container div a {
  color: #1a1a1a;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10vw;
  margin-bottom: 10vh;
}
.login-form input {
  padding: 0.5rem;
}
.login-form button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  border: solid 1px;
  border-radius: 0.5rem;
}

#a-login {
  display: flex;
  justify-content: center;
}

#ajouter-stage {
  display: flex;
  justify-content: center;
  color: #1a1a1a;
}

.stage-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}
.stage-container a {
  width: 80vw;
  transition: 0.3s;
  border-radius: 1rem;
  color: black;
  max-width: 870px;
}
.stage-container a div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.stage-container a:hover {
  background-color: #8FDDE7;
}

.stage_ajouter {
  padding-bottom: 9rem;
  display: flex;
  justify-content: center;
}
.stage_ajouter form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.stage_ajouter div {
  display: flex;
  flex-direction: column;
}
.stage_ajouter div #stages_debut {
  display: flex;
  flex-direction: row;
}
.stage_ajouter div #stages_fin {
  display: flex;
  flex-direction: row;
}
.stage_ajouter div select {
  background-color: whitesmoke;
  padding: 0.5rem;
  border: solid 1px #454545;
  border-radius: 1rem;
}
.stage_ajouter div #stages_enregistrer {
  margin-top: 2rem;
  width: 23rem;
  padding: 1rem;
  font-size: 1rem;
  border: solid 2px #FFAEBC;
  border-radius: 1rem;
  background-color: #ffffff;
}
.stage_ajouter div #stages_enregistrer:hover {
  cursor: pointer;
}

.main-stage {
  display: flex;
  justify-content: center;
  padding-bottom: 11rem;
}

.stage-show-container {
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: 1125px;
}
.stage-show-container h2 {
  color: #1a1a1a;
  display: flex;
  justify-content: center;
}
.stage-show-container #stage-by {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#title {
  font-weight: initial;
}

/*# sourceMappingURL=app.css.map */
