@import 'variables';

.login-form{
  display: flex;
  flex-direction: column;
  padding: 10vw;
  margin-bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 75vw;
  max-width: 750px;
  position: relative;
  input {
    padding: 0.5rem;
  }
  button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: transparent;
    border: solid 1px;
    border-radius: 0.5rem;
  }
}
#a-login{
  display: flex;
  justify-content: center;
}