@import "variables";

.solo_prestataire {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .solo_prestataire_container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    .like {
      background-image: url("../../public/images/assets/like.png");
    }

    .dislike {
      background-image: url("../../public/images/assets/like-fill.png");
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      width: 2rem;
      height: 2rem;
      background-size: 2rem;
      background-repeat: no-repeat;
      border: none;
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

#prestataire_img {
  height: 15rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

#side_prestataire {
  width: 90vw;

  h2 {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
  }
}

#likes {
  p {
    margin: 1rem;
    font-size: 1.2rem
  ;
  }
}

.socials-share{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form_commentaire{
  span{
    width: 80vw;
    height: 1px;
    background-color: $secondary-color;
    margin-bottom: 3rem;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  div {
    display: flex;
    flex-direction: column;
  }
  #commentaire_Titre {
    width: 20rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border: solid 1.5px gray;
  }
  .btn-submit{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    background: none;
    border: solid 1.5px gray;
    padding: 0.5rem;
    border-radius: 0.3rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.commentaires{
  margin-top: 2rem;
  .solo_commentaire{
    background: #b2dbe5;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #auteur {
    font-size: 0.8rem;
  }
}