{% extends 'base.html.twig' %}
{% block title %}Ajouter un stage{% endblock %}

{% block body %}
    <main class="stage_ajouter">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </main>
{% endblock %}